n8n/combined ice breaker and initial email.json
{
  "name": "combined ice breaker and initial email",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "84be408b-93fc-4485-a67b-ecb798f04473",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OVhTL8HDsmLPqsgk5uK0GMr-QS3lRtsqQD6Zn2szn_M",
          "mode": "list",
          "cachedResultName": "apollo-accounts-export",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OVhTL8HDsmLPqsgk5uK0GMr-QS3lRtsqQD6Zn2szn_M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1282716402,
          "mode": "list",
          "cachedResultName": "Settings",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OVhTL8HDsmLPqsgk5uK0GMr-QS3lRtsqQD6Zn2szn_M/edit#gid=1282716402"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -112
      ],
      "id": "2d3ede22-721b-401b-ba6c-21202892e536",
      "name": "Read Settings",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dCvm09NMhiH8eyfT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1OVhTL8HDsmLPqsgk5uK0GMr-QS3lRtsqQD6Zn2szn_M",
          "mode": "list",
          "cachedResultName": "apollo-accounts-export",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OVhTL8HDsmLPqsgk5uK0GMr-QS3lRtsqQD6Zn2szn_M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1553670201,
          "mode": "list",
          "cachedResultName": "apollo-accounts-export.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OVhTL8HDsmLPqsgk5uK0GMr-QS3lRtsqQD6Zn2szn_M/edit#gid=1553670201"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        64
      ],
      "id": "ad43c99d-8cb5-4d91-b195-e046a3092eee",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dCvm09NMhiH8eyfT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        32
      ],
      "id": "f39867a3-b076-431f-b509-9d9d33fafea2",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"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\",\n  \"query\": \"Find professional background and recent LinkedIn activity for {{ $json['Name'] }} at {{ $json['Company Name'] }}. Look for details that would make them interested in this product: {{ $json['Product Description'] }}.\",\n  \"search_depth\": \"basic\",\n  \"include_answer\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        880,
        32
      ],
      "id": "ddf26328-c4bc-4797-b05d-5ec1f593452d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please write a personalized email subject line and icebreaker for the following prospect:\n\nPROSPECT DETAILS:\n- Name: {{ $('Get row(s) in sheet').item.json.Name }}\n- Title: {{ $('Get row(s) in sheet').item.json.Title }}\n- Company: {{ $('Get row(s) in sheet').item.json['Company Name'] }}\n\nPRODUCT WE ARE SELLING:\n- Product Name: {{ $('Read Settings').item.json['Product Name'] }}\n- Description: {{ $('Read Settings').item.json['Product Description'] }}\n\nRESEARCH DATA (Tavily):\n{{ $json[\"answer\"] }}\n\nTASK:\n1. Based on the research data, find one specific professional achievement, recent company news, or a responsibility mentioned in their bio.\n2. Connect that fact to why they would benefit from our {{ $('Read Settings').item.json['Product Name'] }}.\n3. Generate the subject and icebreaker in the required JSON format.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=\"You are a world-class B2B Sales Writer. You are writing to {{ $json[\"Name\"] }} at {{ $json[\"Company Name\"] }}.\nThe Product: {{ $json[\"Product Name\"] }}\nWhat it does: {{ $json[\"Product Description\"] }}\nTask:\nSubject: 2-4 words, casual, lowercase.\nIcebreaker: Exactly one sentence. Use the search data to mention a specific achievement or responsibility of theirs that explains why they need our product.\nStyle: Personal, human, and zero fluff.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1088,
        32
      ],
      "id": "b3755f8d-4919-40fb-95b3-21105f452af6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        960,
        240
      ],
      "id": "c288b199-c80a-47b7-bd55-657418aec2a0",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "gMagVOqgngEtneyX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sarkarpriyojit53@gmail.com",
        "subject": "={{ $json.output.subject }}",
        "message": "=\"Hi {{ $json[\"First Name\"] }},\n{{ $json.output.icebreaker }}\n[Your 2-sentence pitch about {{ $json[\"Product Name\"] }}].\nDo you have 5 minutes to chat next Tuesday?\nBest,\n[Your Name]\"",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1488,
        80
      ],
      "id": "94af9985-db11-46ed-84c1-5ae285ce672b",
      "name": "Send a message",
      "webhookId": "6510f700-cad0-4bee-a357-2327fcdde64c",
      "credentials": {
        "gmailOAuth2": {
          "id": "GYdilcN1sEWYcCLF",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": { \"type\": \"string\" },\n    \"icebreaker\": { \"type\": \"string\" }\n  },\n  \"required\": [\"subject\", \"icebreaker\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1264,
        240
      ],
      "id": "0950add5-eef0-4d0c-9f7c-cf9e12b6004f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aeb8123f-cbf9-4374-a491-acd6a67104ed",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Valid",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "88fa0a96-34d2-4c01-8b51-2a9f791bc9e9",
              "leftValue": "={{ $json['Outreach Status'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        672,
        32
      ],
      "id": "07cd0683-9ce5-4d87-9cbd-554f135323ef",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1OVhTL8HDsmLPqsgk5uK0GMr-QS3lRtsqQD6Zn2szn_M",
          "mode": "list",
          "cachedResultName": "apollo-accounts-export",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OVhTL8HDsmLPqsgk5uK0GMr-QS3lRtsqQD6Zn2szn_M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1553670201,
          "mode": "list",
          "cachedResultName": "apollo-accounts-export.csv",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1OVhTL8HDsmLPqsgk5uK0GMr-QS3lRtsqQD6Zn2szn_M/edit#gid=1553670201"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Subject Line": "={{ $('AI Agent').item.json.output.subject }}",
            "Icebreaker": "={{ $('AI Agent').item.json.output.icebreaker }}",
            "Email Sent Date": "={{ $now.format('yyyy-MM-dd') }}",
            "Follow-up Count": "1",
            "Outreach Status": "Email 1 sent"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Email Verification Source",
              "displayName": "Primary Email Verification Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Primary Email Last Verified At",
              "displayName": "Primary Email Last Verified At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seniority",
              "displayName": "Seniority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Departments",
              "displayName": "Departments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Owner",
              "displayName": "Contact Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Work Direct Phone",
              "displayName": "Work Direct Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Home Phone",
              "displayName": "Home Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mobile Phone",
              "displayName": "Mobile Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Corporate Phone",
              "displayName": "Corporate Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Other Phone",
              "displayName": "Other Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account Owner",
              "displayName": "Account Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "# Employees",
              "displayName": "# Employees",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Person Linkedin Url",
              "displayName": "Person Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Linkedin Url",
              "displayName": "Company Linkedin Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Facebook Url",
              "displayName": "Facebook Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Twitter Url",
              "displayName": "Twitter Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Address",
              "displayName": "Company Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company City",
              "displayName": "Company City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company State",
              "displayName": "Company State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Country",
              "displayName": "Company Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Phone",
              "displayName": "Company Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Technologies",
              "displayName": "Technologies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Annual Revenue",
              "displayName": "Annual Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Sent",
              "displayName": "Email Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apollo Contact Id",
              "displayName": "Apollo Contact Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apollo Account Id",
              "displayName": "Apollo Account Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Reason",
              "displayName": "AI Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject Line",
              "displayName": "Subject Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Icebreaker",
              "displayName": "Icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Sent Date",
              "displayName": "Email Sent Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Follow-up Date",
              "displayName": "Last Follow-up Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Follow-up Count",
              "displayName": "Follow-up Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Outreach Status",
              "displayName": "Outreach Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        80
      ],
      "id": "066c3104-1d55-4c9a-8eff-97bdf060229b",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "dCvm09NMhiH8eyfT",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read Settings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Settings": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "580bb069-2945-4244-a761-6819d4f6ac22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f18bb9b22108611dc7042cc9190682534ac60c4af6e320856eb4efd7d3b97fa"
  },
  "id": "rvrjHpbGnuTyuqw1",
  "tags": []
}