chatbot/workflow.json
{
  "name": "Web App AI Mental Health Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a4d3a1f8-8c1d-4034-8b63-149fd71b3e8e",
        "options": {}
      },
      "id": "e96e594d-704a-4a24-91f1-e8d1a457476e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.3,
      "position": [
        480,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.message }}",
              "operation": "contains",
              "value2": "suicide,kill myself,self harm",
              "options": {
                "caseSensitive": false
              }
            }
          ]
        }
      },
      "id": "228b3f46-51f7-4147-9753-3c2242095f36",
      "name": "Check for Crisis",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        720,
        340
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "=It sounds like you are going through a difficult time. Please know that help is available. You can connect with people who can support you by calling or texting 988 anytime in the US and Canada. In the UK, you can call 111. Please reach out for help."
            }
          ]
        },
        "options": {}
      },
      "id": "2916b9b1-e2be-4ab1-86a0-e2b2915dd70c",
      "name": "Set Crisis Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        960,
        240
      ]
    },
    {
      "parameters": {
        "responseCode": 200,
        "options": {}
      },
      "id": "2e316d8a-867c-473d-bc65-74892c208461",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "persona",
              "value": "=You are a supportive, empathetic, and compassionate listening companion. Your name is 'Aura'. You are not a therapist or a medical professional. Your primary role is to listen, offer comfort, and provide a safe space for users to express their feelings.\n\n**RULES:**\n- DO NOT provide medical advice, diagnoses, or treatment plans.\n- If the user expresses thoughts of self-harm or crisis, you MUST gently guide them to seek professional help and provide a resource like the 988 lifeline.\n- Keep your responses concise, warm, and non-judgmental.\n- Use \"I\" statements to reflect and validate feelings (e.g., \"It sounds like that was really difficult for you.\").\n- Do not make promises or offer solutions. Focus on listening and empathy.\n- Acknowledge that you are an AI and that human connection is very important."
            }
          ]
        },
        "options": {}
      },
      "id": "2d8f9464-a6c3-4d6d-8910-ccf02c65f12e",
      "name": "Set AI Persona",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        960,
        440
      ]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "messages": {
          "messages": [
            {
              "role": "system",
              "message": "={{ $('Set AI Persona').item.json.persona }}"
            },
            {
              "role": "user",
              "message": "={{ $('Webhook').item.json.body.message }}"
            }
          ]
        }
      },
      "id": "97b370a2-2771-4770-9833-28c9b9fd5257",
      "name": "OpenAI Chat Model",
      "type": "n8n-nodes-base.openAiChat",
      "typeVersion": 2,
      "position": [
        1200,
        440
      ],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ $('OpenAI Chat Model').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c62de97e-cc72-46cc-9169-231a4773c22b",
      "name": "Set AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1440,
        440
      ]
    },
    {
      "parameters": {
        "responseCode": 200,
        "options": {}
      },
      "id": "a1f939e6-7788-4f80-87ef-49666f3e1763",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1680,
        440
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check for Crisis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Crisis": {
      "main": [
        [
          {
            "node": "Set Crisis Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set AI Persona",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Crisis Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set AI Persona": {
      "main": [
        [
          {
            "node": "OpenAI Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "main": [
        [
          {
            "node": "Set AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set AI Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}